<div class="center-content">
    <mat-card class= "example-card">
      <mat-card-header>
        <div mat-card-avatar class="PYS-image"></div>
        <mat-card-title>PROCESOS Y SERVICIOS</mat-card-title>
      </mat-card-header>
        <mat-card-content>
          <h3>RGS</h3>
          <form class="Login_RGS">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Usuario</mat-label>
              <input type="Usuario" matInput placeholder="Usuario" value="">
            </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input type="Contraseña" matInput placeholder="Contraseña">
            </mat-form-field>
            
            <button class= "mat-button" mat-button color="primary">Login</button>
          </form>
      </mat-card-content>
    </mat-card>
  </div>
